<!-- INCLUDE overall_header.html -->

    <div class="forabg">
            <div class="inner"><span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl class="icon">
                        <dt>{L_IMPRINT_PAGE}</dt>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist forums" style="padding: 0.05cm">
            
	          <li>Bertie Bear</li>
            <li>Bearstreet 5</li>
            <li>5738 Forestlake</li>
            <li>Alaska</li>
            <li>Bearphone: Call 666Bertie</li>
            <li>E-mail: bertie@example.com</li>
            </ul>
            <span class="corners-bottom"><span></span></span></div>         
            </div>        

<!-- INCLUDE overall_footer.html -->
